<form asp-action="Index">
    <label>Nhập PersonID:</label>
    <input type="text" name="PersonID">

    <label>Nhập họ tên:</label>
    <input type="text" name="HoTen">

    <label>Nhập địa chỉ:</label>
    <input type="text" name="QueQuan">
    <input type="Submit" value="Gửi dữ liệu">
</form>

<h1>Dữ liệu từ Controller gửi về là: @ViewBag.infoPerson</h1>